[Unit]
Description=Castle's Status Bar for CDWM
[Service]
Type=simple
Restart=always
RestartSec=30
TimeoutStartSec=0
ExecStart=/home/victor/repos/local/castat/castat
[Install]
WantedBy=default.target
