PATH=$PATH:/home/victor/.local/bin

xrdb /home/victor/.Xresources			# loads xresources

/home/victor/.local/bin/setbg &			# sets wallpaper (script loc: ~/.local/bin/setbg)
#/home/victor/.local/bin/dwmstatus &		# starts status bar

#xcompmgr &		# xcompmgr for transparency

xset r rate 200 30	# set typematic delay and rate (for when ya hold down ye keys)

#exec /home/victor/.local/bin/startdwm
